/*
===========================
    *   Styling tidak sulit hanya otak kita yang tersugesti sulit
    *   Hanya Mengingat kembali
===========================
*/

/****** Start Reset *******/
body {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    max-width: 100% !important;
}

::selection,
::-moz-selection {
    background-color: #C0392B;
    color: #ECF0F1; 
    /* Belum tersedia */
}

a:link {
    color: #2980B9;
    text-decoration: none;
}

a:visited {
    color: #2C3E50;
}

a:hover {
    color: #C0392B;
    text-decoration: none;
}

a:active {
    text-decoration: line-through;
    color: #000;
}

a img {
    border: none;
}

*:after,
*:before {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-border-sizing: border-box;
}

table, tr, th, td {
    border-collapse: collapse;
    border: none;
    border: 1px solid rgba(0, 0, 0, 0.37);
}
tr, th, td{padding: 10px;}
b, strong, th, dt {font-weight: bold;}
i, em {font-style: italic;}
dd {margin: 0px 0px .5em 2em;}
h1 {font-size: 200%;}
h2 {font-size: 180%;}
h3 {font-size: 160%;}
h4 {font-size: 140%;}
h5 {font-size: 120%;}
h6 {font-size: 100%;}
h1, h2, h3, h4, h5, h6 {
    margin: 1.5em 0;
    font-weight: bold;
}

table[border='1'] {
    border: 1px solid rgba(0, 0, 0, 0.37);
    padding: 3px;
}

.clearfix {
    clear: both;
    display: block;
}

.left {text-align: left;}
.right {text-align: right;}
.center {text-align: center;}

input[type='text'],
input[type='search'],
input[type='email'],
input[type='password'],
input[type='submit'] {
    border: 1px solid #ddd;
    padding: 5px;
}

textarea {
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 300px;
    height: 200px;
    border: 1px solid #ddd;
}

section, main, aside, footer, article, figure {
     display: block;
}

/****** End Reset *******/

/****** Body Languange ********/

body {
    font-size: 14px;
    line-height: 1.4em;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
}

#container {
    max-width: 100%;
    margin: 0 auto;
}

header {
    max-width: 100%;
    background-color: #2C3E50;
    color: white;
}

.header, .menu, .content {
    max-width: 80%;
    margin: 0 auto;
}
.header {
    overflow: hidden;
}
.header h1{
      border-bottom: 3px solid #fff;
      padding: 10px;
      width: 50%;
}
.header-logo {
}
.header-logo h1 {
    margin: 25px 5px 10px;
}
.header-logo h1 a{
    color: white;    
}

nav {
    font-weight: 500;
    text-transform: uppercase;
    background-color:#16A085; 
}

.menu ul {
    background-color:#16A085; 
    height: 40px;
    list-style: none;
    margin: 0;
    padding: 0;
}
.menu li {
    display: inline;
    position: relative;
    float: left;
}
.menu li a:link {
    display: block;
    padding: 0px 15px;
    line-height: 40px;
    color: #ECF0F1;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
}
.menu li a:visited {color: white;}
.menu li a:hover{background-color: #27AE60;}
.menu li ul {
    display: block;
    position: absolute;
    width: 180px;
    left: auto;
    z-index: 99;
    visibility: hidden;
    height: auto;
    opacity: 0;
    transition: all .2s ease-out .15s;
    -webkit-transition: all .2 ease-out .15s;
    -moz-transition: all .2s ease-out .15s;    
}
.menu li li {
    display: block;
    float: none;
    width: 100%;
}
.menu li:hover > ul {
    visibility: visible;
    width: 200px;
    opacity: 1;
}
.menu li li ul {
    left: 100%;
    margin-top: -40px;
}

section {
    background-color: #ddd;
}
.content {
    background-color: white;
    overflow: hidden;
    word-wrap: break-word;
    font-size: 14px;
    color: #303229;
}
.board {
    padding: 20px;
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
}   
.board h3{
    border-bottom: 2px solid #2C3E50;
    width: 50%;
    padding-bottom: 10px;
    margin: 10px 0px;
}
.board img{
    width: 80%;
}
.board td:nth-child(2){
    width: 100px;
}
.catalog {
    width: 100%;
    margin: 0px auto 30px;
    margin-left: 0px !important;
}
.catalog-prev {
    max-width: 40%;
    height: 250px;
    display: block;
    float: left;
    overflow: hidden;
}
.catalog-prev img{
    width: 100%;
}
.catalog-details {
    width: 60%;
    position: relative;
    float: left
}
.catalog-details li{
    border-bottom: 2px dashed #ddd; 
}
.catalog-details li:nth-child(3){ width: 300px;}
.catalog-details li:nth-child(1){ width: 200px; }

.box-top {
    max-width: 31.9%;
}
.box {
    float: left;
    margin-left: 10px;
    overflow: hidden;
    border: 1px solid #ddd;
}
.box-content {
    width: 18.6%;
}
.box-top img {
    width: 350px;
    height: 300px;
}
.box-content img {
    width: 100%;
    height: 150px;
}
.names h2{
    margin: 15px 0px 10px;
    border-bottom: 1px solid #aaa;
    text-align: center;
    padding-bottom: 5px;
    font-weight: 100;
    font-size: 150%;
}
.catalog h2 {
    font-weight: bolder;
    padding-bottom: 10px;
    font-size: 200%;
}
.info{
    text-align: center;
}
.info p{
    margin: 0px;
    cursor: pointer;
    background-color: #2980B9;
}
.info span {
    color: white;      
    display: inline-block;
}
.info span.left,
.info span.right{
    width: 46%;
    padding: 2px;
    text-align: center;
}
.info span.left{
    background-color: #2C3E50;
}
.info span.right {
    background-color: #2980B9;
}
.info a{
    color: white;
    display: block;    
    padding: 10px;
    transition: all .2s ease-in .1s;
    -webkit-transition: all .2s ease-in .1s;
    -moz-transition: all .2s ease-in .1s;
}
.info a:hover {
    background-color: rgb(16, 161, 206);
}

.order-thead {
    margin: 0px;
    background-color: #2980B9;
    color: white;
}
.fr {background-color: #C0392B;}
.tops {
    background-color: #C0392B !important;
}
.order-thead h3, .order-thead h2 {
    display: inline-block;
    margin: 0px;    
    max-width: 90%;
    padding: 10px;
    text-transform: uppercase;
}
.order-thead h2{
    font-size: 200%;
}
.order-thead h3{
    font-size: 120%;
}
.order-thead a {
    float: right;
    color: white;
    display: inline-block;
    font-size: 150%;
    position: relative;
    top: 10px;
    left: -10px;
}
.order-thead a:hover {
    color: #2C3E50;
    font-weight: bold;
}
.orders {
    margin-bottom: 10px;
    overflow: hidden;
}
.f-cont ul{
    list-style: none;
    margin: 0px;
    padding-left: 15px;
    margin-bottom: 10px;
}
.f-cont li:first-child{
    margin-left: 10px;
}
.f-cont li {
    display: inline-block;
    margin-right: 15px;
    font-size: 20px;
}
.f-cont li img{
    width: 25px;
    vertical-align: middle;
}
.f-cont ul:before{
    content: "►";
}
footer {
    background-color: #2C3E50;
    max-width: 100%;    
    padding: 5px;
}
.footer {
    color: #ECF0F1;
    max-width: 80%;
    margin: 0 auto;
    padding: 10px;
}
.f-top {}
.f-thead {
    max-width: 45%;
}
.f-thead h3{
    text-transform: uppercase;
    border-bottom: 5px solid #ECF0F1;
    padding-bottom: 10px;
    margin-bottom: 15px;
}
.f-cont li a{
    color: #ECF0F1;
    transition: all .15s ease-in-out .1s;
}
.f-cont li a:hover{
    color: #aaa;
}
.f-bottom {
    text-align: center;
}

.forms, .orderp, .form-add {
    max-width: 100%;
    margin: 30px auto;
    overflow: hidden;
    text-align: center;
}
.forms h3, .orderp h3 {
    text-transform: uppercase;
    color: #2C3E50;
    border-bottom: 3px solid #2C3E50;
    width: 50%;
    margin: 0 auto;
    padding-bottom: 10px;
}
.forms ul, .catalog-details ul, .form-add ul {
    list-style: none;
}
.forms li, .catalog-details li, .form-add li {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}
.forms li:nth-child(1){
    width: 100px;
}
.form-add li:nth-child(1){
    width: 150px;
}
.form-add{
    max-width: 50%;
    float: left; 
    margin-top: 5px;
}
input[type='text'], 
input[type='password'],
input[type='email'], 
input[type='date'], 
input[type='file'],
input[type='number'],
select{
    width: 200px;
}

input[type='submit'] {
    width: 100px;
    cursor: pointer;
    background-color: #2C3E50;
    border: 2px solid #2C3E50;      
    color: white;
    transition: all .2s ease-in .1s;    
}
input[type='submit']:hover{
    background-color: white;
    border: 2px solid #2C3E50;      
    color: #2C3E50;
    border-radius: 10px;
}
textarea {
    width: 200px;
    height: 50px;
}
#container p.first{
    font-weight: lighter;
    background-color: #2980B9;
    color: #ECF0F1;
    padding: 5px;
    width: 25%;
}
p {
    margin: 5px 0px;
}

.prev-orderp img {
    width: 100%;
    margin: 20px;
}
.prev-orderp{
    width: 40%;
    overflow: hidden;
    float: left;
    border: 2px solid #ddd; 
    margin-top: 20px;
    margin-left: 20px;   
}

.orderan {
    position: relative;
    right: 70px;
    bottom: 25px;
}

.orderan li {
    margin-bottom: 15px;
}

li.pesan input[type="submit"] {
    width: 320px;
    position: relative;
    right: 110px;
}

.info-k{
    margin-left: 10px;
}

.tc{
    width:200px;
    padding: 3px;
}